<div class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5">

                    <form class="box addPostForm">
                        <h3 class="tittle has-text-centered is-size-3 mb-5"><strong>Add a post!</strong></h3>

                        <!-- Job Title -->
                        <div class="field">
                            <label class="label">Post Title</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Post Title" id="addPost-title">
                            </div>
                        </div>

                        <!-- Post Body -->
                        <div class="field">
                            <lable class="label">Post Body</lable>
                            <div class="control">
                                <textarea class="textarea" placeholder="Post Text Goes Here..." id="addPost-text"></textarea>
                            </div>
                        </div>

                        <!-- Send post to be created -->
                        <div class="field is-grouped is-grouped-centered mt-5">
                            <p class="control">
                                <button type="submit" class="button is-primary" id="addPostSubmit">Submit</button>
                            </p>
                            <p class="control">
                                <a href="/dashboard/" class="button is-light">Cancel</a>
                            </p>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/add-post.js"></script>